* {
    margin: 0;
    padding: 0;
}

#interface {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 400px;
    border: 1px solid black;
    border-radius: 15px;
}

.header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.header-title {

}

.header-update {
    text-decoration: underline;
}

.header-update:hover {
    cursor: pointer;
}

.list-news {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.news-body {
    display: flex;
    margin: 10px 0;
}

.news-img {
    margin-right: 15px;
    width: 64px;
    height: 64px;
}
